{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{{ attach_library('gulov/swiper') }}

{% set id = random()%}
{% if title %}
    <h3>{{ title }}</h3>
{% endif %}

<div class="home_wrapper_slides">
  <div class="swiper-container landing_slides">
    <div class="swiper-wrapper">
      {% for row in rows %}
          {% set row_classes = ['carousel-item', loop.first ? 'active'] %}
          <div class="{{ row_classes|join(' ') }}">
          {{row.content}}
          </div>
        {% endfor %}
    </div>
    <!-- Slide Next-Prev Button -->
    <div class="landing_slides_prev_btn la la-angle-left"></div>
    <div class="landing_slides_next_btn la la-angle-right"></div>
  </div>
</div>
