/* ============================================================
    03. COMMON CSS
============================================================ */

.default_btn,
.default_link,
nav,
nav a,
.menu_toggle span,
ul.nav li ul,
.landing_slides_next_btn,
.landing_slides_prev_btn,
.blog_single_item,
.add_blog_comments input,
.add_blog_comments textarea,
.add_blog_comments span,
.add_blog_comments button,
.blog_categories li a,
.tags li a,
.single_service_item::before,
.single_service_item::after,
.service_prev_btn,
.service_next_btn,
.workflow_single_item::after,
.testimonial_prev_btn,
.testimonial_next_btn,
.work_sm_img::after,
.work_sm_details a,
.pricing_single_item h2::after,
label span,
footer .footer_top a {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.display_table {
  display: table;
  height: 100%;
  width: 100%;
}

.display_table_cell {
  display: table-cell;
  vertical-align: middle;
}

.default_bgc {
  background-color: #4A69BD;
}

.default_clr {
  color: #526a6d;
}

.wrapper {
  padding: 30px 0;
  width: 100%;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
