/* ============================================================
    02. RESET CSS
============================================================ */

* {
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #526a6d;
}

a,
a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
P {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

ol,
ul {
  margin: 0px;
  padding: 0px;
//  list-style: none;
}

img {
  max-width: 100%;
  height:auto;
}
