{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
<nav class="primary-menu nav_shadow navbar navbar-light navbar-expand-lg navbar-toggler navbar-collapse fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if content %}
      <div class="primary-menu__content collapse navbar-collapse" id="navbarPrimary">
        {{ content }}
      </div>
    {% endif %}
  </div>
</nav>
