.page_breadcrumb {
  height: 200px;
  background-color: #e3e3e3;
  background-image: url(../images/breadcamb.jpg);
  background-size: contain;
  background-position: center center;

  .display_table {
    height: 200px;
  }

  h1, h5 {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 15px;
    font-size: 23px;
    display: inline-block;
  }

  a {
    color: #000;
  }
  ol {
    li {
      background-color: rgba(255, 255, 255, 0.6);
      padding-left: 0;
      &::after {
        margin-left: 1em;
        content: '';
        border-right: 1px solid #000;
      }
      &:last-child {
        &::after {
          border-right: none;
        }
      }
    }
  }
}
