/* ===== criss_btn style ===== */

.default_btn {
  text-align: center;
  color: #fff;
  background-color: #4A69BD;
  border: 1px solid #4A69BD;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 25px 6px;
  font-size: 15px;
  position: relative;
  z-index: 2;
  border-radius: 50px;
  &_alt {
    color: #4A69BD;
    background-color: #fff;
    border: 1px solid #fff;
  }
 &:hover {
    color: #4A69BD;
    background-color: #fff;
    border: 1px solid #4A69BD;
  }
}

.default_link {
  color: #4A69BD;
  &:hover {
    color: #23408e;
  }
}
