footer {
  padding: 100px 0;
  background-color: #fafaee;
  text-align: center;
  .field--name-body {
    padding: .5rem 1rem;
  }
  .footer_top a:hover {
    color: #4A69BD;
  }
  .footer_top {
    a, p {
      color: #919191;
    }
    h3 {
      font-size: 24px;
      font-weight: 600;
    }
  }
}
