/* ============================================================
    04. MENU_BAR
============================================================ */

nav.primary-menu {
  //height: 60px;
  line-height: 60px;
  //position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 50;
  padding-top: 0;
  padding-bottom: 0;
  &.navbar-toggler {
    border: 0;
  }
  .collapse.show {
    line-height: normal;
  }
  .primary-menu__content {
    background-color: #fff;
  }
}

.nav_shadow {
  box-shadow: 0 0 15px #eee;
}

.dropdown {
  &>.dropdown-menu {
    display: block;
  }
}

ul.nav {
  text-align: right;
  li {
    display: inline-block;
    position: relative;
    &:last-child a {
      padding-right: 0;
    }
    a {
      padding: 0 15px;
      display: inline-block;
      color: #526a6d;
      font-weight: 500;
      position: relative;
      letter-spacing: 1px;
      &.drop_menu {
        cursor: pointer;
      }
      &.active,
      &:hover {
        opacity: .6;
      }
      i {
        font-size: 13px;
        margin-left: 2px;
      }
    }
    &:hover ul {
      opacity: 1;
      visibility: visible;
      top: 60px;
    }
    ul {
      position: absolute;
      background-color: #fff;
      padding: 3px;
      left: 0;
      width: 160px;
      top: 80px;
      opacity: 0;
      visibility: hidden;
      margin-top: 0;
      li {
        display: block;
        line-height: 35px;
        text-align: left;
        a {
          font-size: 14px;
        }
      }
    }
  }
}

.menu_close > i {
  opacity: 0;
  visibility: hidden;
  font-size: 30px;
}

