.page-img div,
.about_info_img {
  border-radius: 5px;
  position: relative;
  margin: 14px;
  margin-right: 0;
  &::before {
    position: absolute;
    content: "";
    height: 110%;
    width: 90%;
    left: -15px;
    bottom: -5%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    z-index: -1;
  }
}

