.service_wrapper {
  background-color: #FAFAEE;
  .swiper-service {
    cursor: w-resize;
  }
}

.single-service-item {
  height: 200px;
  background-color: #fff;
  text-align: center;
  padding: 0 26px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  &::before, &::after {
    position: absolute;
    content: "";
    height: 100px;
    width: 100px;
    left: -20px;
    background-color: #4A69BD;
    bottom: -100px;
    z-index: -1;
    border-radius: 50%;
  }
  &::before {
    left: auto;
    right: -20px;
    bottom: auto;
    top: -100px;
  }
  &:hover {
    &::after {
      bottom: -50px;
    }
    &::before {
      top: -50px;
    }
  }
  p {
    font-weight: 200;
  }
}

.service_prev_btn, .service_next_btn {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 25px!important;
  z-index: 5;
  background-color: #FAFAEE;
  height: 80px ;
  line-height: 80px!important;
  cursor: pointer;
  border: 1px solid;
  border-left: 0;
  transform: translateY(-50%);
}

.service_prev_btn:hover {
  background-color: #f0f0f0;
}

.service_next_btn {
  &:hover {
    background-color: #f0f0f0;
  }
  left: auto;
  right: 0;
  border-left: 1px solid;
  border-right: 0;
}

.swiper-service .swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}
