/*
One page
 */

.home_wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: #e3e3e3;
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #3d46c4;
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    background: -webkit-gradient(linear, left top, right top, from(#2B32B2), to(#1488CC));
    background: -webkit-linear-gradient(left, #2B32B2, #1488CC);
    background: -o-linear-gradient(left, #2B32B2, #1488CC);
    background: linear-gradient(to right, #2B32B2, #1488CC);
    top: 0;
    left: 0;
    opacity: .8;
    mix-blend-mode: multiply;
  }
  .display_table {
    height: 650px;
  }
  h1 {
    font-size: 50px;
    margin-top: 12px;
    color: #fff;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #e3e3e3;
    margin-top: 5px;
  }
  .views-field-view-node {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

/*
Slideshow
 */

.main_wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing_content {
  position: relative;
  z-index: 5;
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #1488CC;
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    background: -webkit-gradient(linear, left top, right top, from(#2B32B2), to(#1488CC));
    background: -webkit-linear-gradient(left, #2B32B2, #1488CC);
    background: -o-linear-gradient(left, #2B32B2, #1488CC);
    background: linear-gradient(to right, #2B32B2, #1488CC);
    top: 0;
    left: 0;
    opacity: .7;
    z-index: 0;
  }
}

.home_wrapper_slides .display_table, .home_wrapper .display_table {
  height: 650px;
  overflow: hidden;
}

.landing_content {
  h1 {
    font-size: 45px;
    color: #fff;
  }
  h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .default_btn {
    margin-bottom: 20px;
  }
}

.landing_slides_next_btn, .landing_slides_prev_btn {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  color: #fff;
  background-color: #333;
  padding: 0 10px;
  height: 100px;
  line-height: 100px;
  font-size: 25px;
  cursor: pointer;
}

.landing_slides_next_btn {
  left: auto;
  right: 0;
  &:hover {
    color: #333;
    background-color: #fff;
  }
}

.landing_slides_prev_btn:hover {
  color: #333;
  background-color: #fff;
}
