.testimonial_wrapper {
  background-color: #FAFAEE;
}

.testimonial_swiper_btn {
  height: 50px;
}

.testimonial_prev_btn,
.testimonial_next_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  font-size: 20px;
  z-index: 5;
  background-color: #F8F8F8;
  height: 50px;
  line-height: 50px !important;
  width: 80px;
  cursor: pointer;
  border: 1px solid;
  text-align: center;
  &:hover {
    background-color: #f0f0f0;
  }
}

.testimonial_next_btn {
  left: 95px;
  border-left: 0;
}
